@property --progress {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes rotation {
    20% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    background: #ddd;
}

.container {
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 284px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 568px;
    height: 320px;
}

.Title {
    top: -20px;
    left: 0;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    font-family: Verdana;
    color: rgb(92, 92, 92);
}

.progress {
    --progress: 0;
    width: 150px;
    aspect-ratio: 1;
    position: relative;
    opacity: 1;
}

.progress:before,
.progress:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.progress:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, blue 98%, #0000) top/15px 15px no-repeat,
        conic-gradient(blue calc(var(--progress)*1%), rgb(201, 201, 201) 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - 15px), #000 calc(100% - 15px));
    mask: radial-gradient(farthest-side, #0000 calc(99% - 15px), #000 calc(100% - 15px));
}

.animate {
    animation-name: rotation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

/*  */
.control {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.control p {
    font-size: 18px;
    font-weight: 500;
    font-family: Verdana;
    color: rgb(100, 100, 100);
    margin-left: 10px;
}

/*  Input Text */

.Normal {
    width: 50px;
    height: 28px;
    padding: 3px 5px 3px 5px;
    border-radius: 30px;
    border: rgb(116, 116, 116) 2px solid;
    font-size: 18px;
    font-weight: 500;
    font-family: Verdana;
    color: rgb(100, 100, 100);
}


/* Input Checkbox*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: blue;
}

input:focus+.slider {
    box-shadow: 0 0 1px blue;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media (max-width: 569px) {
    .container {
        top: calc(50% - 284px);
        left: calc(50% - 160px);
        flex-direction: column;
        width: 320px;
        height: 568px;
    }

    .Title {
        font-size: 18px;
    }

    .control p {
        font-size: 16px;
    }

    .Normal {
        width: 44px;
        height: 23px;
        padding: 2px 3px 2px 3px;
        border-radius: 27px;
        border: rgb(116, 116, 116) 1px solid;
        font-size: 16px;
    }

    .switch {
        width: 50px;
        height: 27px;
    }

    .slider {
        border-radius: 27px;
    }

    .slider:before {
        height: 23px;
        width: 23px;
        left: 2px;
        bottom: 2px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(23px);
        -ms-transform: translateX(23px);
        transform: translateX(23px);
    }
}